<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <span class="copyright">&copy; <span class="digital" style="font-size: 16px;">@DateTime.Now.Year</span> - Todos os direitos reservados | Desenvolvido com <i class="fa fa-heart-o"></i> por Equipe Jovem Tecnologia — AMF</span>
            </div>
        </div>
    </div>
</footer>