
<nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> <i class="fa fa-bars"></i>
            </button>
            <a class="visible-xs navbar-brand-xs page-scroll" href="@Href("~/")"><img src="~/Content/img/logo_navbar.png" style="width:113px" /> </a>
            <a class="hidden-xs navbar-brand page-scroll" href="@Href("~/")"><img src="~/Content/img/logo_navbar.png" style="width:84px" /> </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="@Href(" ~/")"></a>
                </li>
                <li>
                    <a class="page-scroll" href="#coderace2017">Code Race <span class="digital" style="font-size: 18px;">2018</span></a>
                </li>
                <li>
                    <a class="page-scroll" href="#sobre">Sobre</a>
                </li>
                <li>
                    <a class="page-scroll" href="#equipe">Organização</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Contato</a>
                </li>
                <li>
                    @Html.ActionLink("Galeria", "Galeria", "Home")
                </li>
            </ul>
        </div>
    </div>
</nav>
